<div class="content container-fluid">
  <div class="row fixed-top topbar">
    <div class="col-sm-12">
      <img class="logo" src="..\assets\haulio_logo.png">
    </div>
  </div>
  <div class="row" style="margin-top: 50px;background-color: #e3f2fd">
    <div class="col-sm-3">
      <a class="nav-link" href="#">Dashboard</a>
    </div>
    <div class="col-sm-3">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Bookings
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">Delivery Locations</a>
        <a class="dropdown-item" href="#">Settings</a>
      </div>
    </div>
    <div class="col-sm-3">
      <a class="nav-link" href="#">Delivery Locations</a>
    </div>
    <div class="col-sm-3">
      <a class="nav-link" href="#">Settings</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>